<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dafi.futurenovaept">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FutureNovaEPT">

        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".DiagnosisActivity"
            android:exported="false" />

        <!-- Movi LoadingActivity aquí, DENTRO de application -->
        <activity android:name=".LoadingActivity" />

        <activity android:name=".ResultActivity" />

        <activity android:name=".DashboardActivity" />

        <activity android:name=".ResultadosActivity" />

        <activity
            android:name=".AguaActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"> <!-- AQUÍ ESTÁ EL CAMBIO -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="HistoryActivity" />

        <activity android:name="BottomSheetAgua" />

        <activity android:name=".AlarmActivity" />

    </application>
    <!-- La etiqueta de cierre va al final de todas las actividades -->

</manifest>